.mainheader {
  font-size: 80px;
}
.column {
  width: 375px;
  float: left;
  text-align: center;
  background-color: #488784;
  padding: 15px;
  min-height: 680px;
  position: relative;
}

.column2 {
  width: 375px;
  float: left;
  text-align: center;
  padding: 15px;
  position: relative;
  min-height: 680px;
}

img {
  width: 350px;
  border-radius: 50%;
}

h3 {
  color: lightblue;
}

.column h3 {
  color: white;
}

h1 {
  text-align: center;
}

.column2 {
  font-style: oblique;
}

button {
background-color: #ead654;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 border-radius: 50%;
 bottom: 0;
 left: 0;
 right: 0;
 position: absolute;
 margin-left: 140px;
 margin-bottom: 50px;
}

body {
  font-family: 'PT Sans', sans-serif;
}

@media screen and (max-width: 480px) and (min-width: 300px) {
  body {
    background-color: grey;
  }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  body {
    background-color: yellow;
  }
}
